<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>操作成功</h1>
    <p><?=$message?></p>
    <p><a href="<?=$url?>">点击跳转</a>到下一个页面</p>
    <p><span id="span"><?=$secound?></span>秒后跳转</p>
</body>
</html>
<script>

    var time = "<?=$secound?>";

    var span = document.getElementById("span");

    var si = setInterval(function(){

        time--;
        //
        if(time==0){

            location.href="<?=$url?>";

        }else{

            span.innerHTML=time;

        }


    },1000)

</script>